:root {
  --buttom-color: #404bbf;
  --title-text: #f4f4fd;
  --button: #4d5ae5;
  --footer-color: #2e2f42;
  --header-color: #ffffff;
  --menu-color: #434455;
  --btn-color: #f4f4fd;
  --btn-edging: #e7e9fc;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--header-color);
  color: var(--menu-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.section {
  padding: 120px 0;
  outline: 2px solid greenyellow;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  outline: 2px solid red;
  width: 1158px;
}

/**---------------HEADER--------------**/
.nav {
  display: flex;
  align-items: center;
}
.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  background: var(--header-color);
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}

.logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  color: var(--buttom-color);
}

.logo-studio {
  font-family: "Raleway", sans-serif;
  color: var(--footer-color);
}

.menu-list {
  display: flex;
  gap: 40px;
}

.menu-item:hover,
.menu-item:focus {
  color: var(--buttom-color);
}

.menu-item {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  color: var(--footer-color);
}

.address {
  font-style: normal;
  margin-left: auto;
}
.address-list {
  display: flex;
  gap: 40px;
}

.mail-link:hover,
.mail-link:focus {
  color: var(--buttom-color);
}
.mail-link {
  display: block;
  letter-spacing: 0.02em;
  color: var(--menu-color);
}

/**---------------SECTION 1--------------**/
.title-top-section {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/office.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding: 188px 0;
  max-width: 1440px;
}

.title {
  height: 120px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
  color: var(--header-color);
}

.button-top:hover,
.button-top:focus {
  background-color: var(--buttom-color);
}

.button-top {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  border: none;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 48px;
  color: var(--header-color);
  background-color: var(--button);
}
/**---------------SECTION 2--------------**/
.section-two {
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.element {
  width: calc((100% - 72px) / 4);
}
.list-list {
  display: flex;
  gap: 24px;
}

.title-top {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--footer-color);
}

.title-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--menu-color);
}

/**---------------SECTION 3--------------**/
.section-three {
  padding-top: 0;
}
.work {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 72px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--footer-color);
}
.list-work {
  display: flex;
  gap: 24px;
}
.element-foto {
  width: calc((100% - 48px) / 3);
}
/**---------------SECTION 4--------------**/
.section-four {
  background-color: var(--title-text);
}

.team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: var(--footer-color);
}
.team-list {
  display: flex;
  gap: 24px;

  border-radius: 0px 0px 4px 4px;
}

.foto {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: var(--header-color);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.div-foto {
  padding: 32px 16px;
}

.name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--footer-color);
}
.speciality {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--menu-color);
}
/**---------------portfolio-main--------------**/

.section-main-portfolio {
  padding: 96px 0 120px;
}

.button-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.btn:hover,
.btn:focus {
  border: 1px solid transparent;
  background-color: var(--buttom-color);
  color: var(--header-color);
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--btn-edging);
  color: var(--button);
  background-color: var(--btn-color);
}
.portfolio-container {
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--footer-color);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--menu-color);
}
.div-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/**---------------FOOTER--------------**/
.footer {
  padding: 100px 0;
  background: var(--footer-color);
}
.footer-div {
}
.footer-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  width: 264px;
  color: var(--title-text);
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
  color: var(--buttom-color);
}

.logo-span {
  color: var(--title-text);
}
